{{#each countries as |country|}}

<ul data-id={{country.id}}>
  <li> Name: {{country.name}}"</li>
  <li> Continent: {{country.continent}}</li>
  <li>Capital City: {{country.capital_city}}</li>


<button data-id="{{country.id}}" type="submit" class="remove-country" name="remove-button">Remove</button>
<button type="submit" class="edit-country" name="edit-button">Edit</button>

</ul>
{{/each}}
